@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Target the translate dropdown container */
#google_translate_element select {
  background-color: #f0f0f0 !important;
  /* Change background color */
  color: #333 !important;
  /* Change text color */
  border: 1px solid #ddd !important;
  /* Add border */
  padding: 5px !important;
  /* Add padding */
  font-size: 14px !important;
  /* Change font size */
  font-family: 'Arial', sans-serif !important;
  /* Change font family */
}

* {
  cursor: default;
  /* font-size: medium; */
}

.goog-te-combo {
  outline: 0;
}

/* Customize the Google Translate widget container */
div#google_translate_element {
  margin: 10px;
  /* Add margin */
}

/* Targeting the skiptranslate class to hide Google branding */
body>.skiptranslate>iframe.skiptranslate {
  display: none !important;
  /* Hide the branding iframe */
}

body>.skiptranslate {
  display: none !important;
  /* Hide the outer branding element */
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #8e8e8e;
  /* Default color for inactive indicators */
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

@keyframes appearz {
  from {
    opacity: 0;
    /* scale: 0.5; */
    transform: translate(100vw);
  }

  to {
    opacity: 1;
    transform: translate(0px);
    /* scale: 1; */
  }

}



.indicator.active {
  background-color: #ffffff;
  /* Active indicator color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  top: 0 !important;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.scrolling::-webkit-scrollbar {
  height: 0;
}

.scrolling::-webkit-scrollbar-track {
  background-color: rgb(19, 19, 19);
}

.scrolling::-webkit-scrollbar-thumb {
  background-color: #252525;
}

.scroll::-webkit-scrollbar {
  height: 0;
}

.scroll::-webkit-scrollbar-track {
  background-color: #1e0700;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #311c0c;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #351a03;
}

/* .scrolling::-webkit-scrollbar-thumb:hover{
  background-color: #fcb900;
} */
#main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* *{
  overflow-x: hidden;
} */
.bpContainer {
  background-color: #351a03;
}

/* background-color: #9f5415; */
.bpMessageListContainer {
  background-color: #351a03;
}

.bpFabContainer:hover {
  transform: scale(1.1);
  transition: transform 0.4s ease;
}

.bpFabIcon {
  background-color: #f3b901 !important;
}

.bpModalDialogNewConversationButton {
  background-color: #c05d08 !important;
}

.bpModalDialogNewConversationButton:hover {
  background-color: #c05d08 !important;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.bpMessageBlocksButton {
  background-color: #c05d08 !important;
}

.bpMessageBlocksButton:hover {
  background-color: #c05d08 !important;
}

#curser {
  height: 90px;
  width: 90px;
  background-color: white;
  border-radius: 100%;
  overflow: hidden;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  z-index: 99999;
}

/* remember to put relative inside image div so that the image inside the div follow the sizing properties based to this div */
#image {
  width: 20rem;
  height: 20rem;
  position: relative;
}

#image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* we are using overlay div to prevent the missleading of the mouse leaving event when the cursor points at cursor div */
#overlay {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 90;
}

.bpHeaderContentTitle {
  color: white !important;
}

.bpHeaderContentDescription {
  color: white !important;
}

.bpHeaderContentActionsIcons:hover {
  background-color: #351A03 !important;
}

.bpHeaderContentActionsIcons {
  color: white !important;
  right: 5px;
  top: -0.5rem;
  position: absolute;
  margin: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bpMessageBlocksButton {
  color: white;
}

.bpMessageListMarqueeAvatarFallback {
  background-color: #f36e0a;
}

.bpHeaderContentAvatarFallback {
  background-color: #f36e0a;
}

.bpMessageAvatarFallback {
  background-color: #f36e0a;
}

.bpContainer {
  position: fixed;
  z-index: 100;
  bottom: 6rem;
  right: 0rem;
  width: 29rem;
  height: 35rem;
}

.bpHeaderContainer {
  background-color: #642e00;
}

.bpFabContainer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
}

.aiRes span {
  font-weight: bold;
  font-size: x-large;
  color: #ffd867;
}

.stateBg img {
  min-height: 100vh;
}

.aiRes {
  font-size: large;

}

.css-rh82gz-DropDown {
  width: 160px !important;
}

.inter {
  font-family: "Inter", sans-serif;
}

.amsterdam {
  font-family: "New Amsterdam", sans-serif;
}

.bpMessageContainer[data-direction=outgoing] .bpMessageBlocksBubble {
  background-color: #f3b70a !important;
  color: #ffffff !important;
}

.bpMessageContainer[data-direction=incoming] .bpMessageBlocksBubble {
  border-color: var(--bpGray-200);
  background-color: #642e00 !important;
  color: #ffffff !important;
}

.scrollBrown::-webkit-scrollbar {
  width: 12px;
}

.scrollBrown::-webkit-scrollbar-track {
  background-color: rgba(165, 42, 42, 0);
}

.scrollBrown::-webkit-scrollbar-thumb {
  background-color: #8b4513;
 
}

.scrollBrown::-webkit-scrollbar-thumb:hover {
  background-color: #a0522d;

}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


@media (max-width: 640px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .home-section {
    padding: 1rem;
  }

  .footer {
    text-align: center;
  }
}


@media (min-width: 640px) and (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
  }

  .home-section {
    padding: 2rem;
  }
}


button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}


:root {
  --foreground-rgb: 0, 0, 0; /* Text color for light mode */
  --background-start-rgb: 183, 159, 136; /* Richer darker beige for light mode */
  --background-end-rgb: 200, 180, 150; /* Slightly lighter beige accent */
  --button-bg-color: #d3b29d; /* Warm beige for button background */
  --button-text-color: #4b2d20; /* Dark brown text for buttons */
}


[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255; /* White text for dark mode */
  --background-start-rgb: 0, 0, 0; /* Black background for dark mode */
  --background-end-rgb: 30, 30, 30; /* Darker shade */
  --button-bg-color: #000000; /* Button background for dark mode */
  --button-text-color: #ffffff; /* Button text color for dark mode */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

@media (prefers-color-scheme: dark) {
  body {
    
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  }
}
